@model VirtualTourWeb.Models.Location
@{
    var title = string.Format("{0} Areas", Model.Name);
    ViewBag.Title = title;
}

<div class="row">
    @foreach (var area in Model.Areas)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">@area.Name</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-5 col-xs-12 text-center">
                                <a href="@Url.Action("Area","VT", new { @id = area.Id })">
                                    <img class="img-responsive" src="@area.ImagePath" alt="@area.Name Image" />
                                </a>
                            </div>
                            <div class="col-lg-7 col-xs-12 descriptionPane">
                                @Html.Raw(area.DescriptionHtml)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>